
/**************************************************************************************/
/*
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: GNU/GPL
/*
/**************************************************************************************/

#as-menu .as-menu,
#as-menu .as-menu *
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation #as-menu
{
	background: transparent;
	border-radius: 0;
	position: relative;
	min-height: 60px;
	margin-top: 40px;
	float: right;	
}


#as-menu ul.as-menu
{
	position: relative;
	z-index: 150;
	line-height: 1.0;
}

#as-menu ul.as-menu a
{
	display: block;
	position: relative;
}

#as-menu ul.as-menu li:hover
{
	visibility: inherit;
}

#as-menu ul.as-menu li
{
	float: left;
	position: relative;
}

.navigation #as-menu ul.as-menu > li

{
	padding: 0 0 10px;
	margin: 0;
	width: auto !important;
	text-align: center;
	background: none;
	list-style:none;
}
.navigation #as-menu ul.as-menu > li.active,
.navigation #as-menu ul.as-menu > li.current
{
   
}

.navigation #as-menu ul.as-menu > li.asHover,
.navigation #as-menu ul.as-menu > li:hover
{
    
}

.navigation #as-menu ul.as-menu > li.active > a,
.navigation #as-menu ul.as-menu > li:hover > a,
.navigation #as-menu ul.as-menu > li.asHover > a,
.navigation #as-menu ul.as-menu > li.current > a,
.navigation #as-menu ul.as-menu > li.active > span,
.navigation #as-menu ul.as-menu > li.asHover > span,
.navigation #as-menu ul.as-menu > li.current > span
{
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); /* Saf4+, Chrome */
	background-image:  -webkit-linear-gradient(top, #eee, #ddd) ; /* Chrome 10+, Saf5.1+ */
	background-image:  -moz-linear-gradient(top, #eee, #ddd) ; /* FF3.6+ */
	background-image:  -ms-linear-gradient(top, #eee, #ddd) ; /* IE10 */
	background-image: -o-linear-gradient(top, #eee, #ddd) ; /* Opera 11.10+ */
	background-image:  linear-gradient(top, #eee, #ddd); /* W3C */
    border: 0;
    border-radius: 25px;
    box-shadow: 0px 2px 2px 0px #999999;    
}

#as-menu ul.as-menu > li + li
{
	margin-left: 10px !important;
}

#as-menu ul.as-menu > li.firstItem,
#as-menu ul.as-menu > li:first-child
{
	background: none repeat scroll 0 0 transparent
}

.navigation #as-menu ul.as-menu > li > a,
#as-menu ul.as-menu > li > span
{
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px  25px ;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: auto;   
 	
}

#as-menu ul.as-menu > li > a:hover,
#as-menu ul.as-menu > li > span:hover
{
	background: none;
	color: #000;
}

#as-menu ul.as-menu > li > a:hover > span,
#as-menu ul.as-menu > li > span:hover > span
{
	background-position: center bottom !important;
}

#as-menu ul.as-menu > li.deeper > a
{
	position: relative;
	font-family: Tahoma, Geneva, sans-serif;
}

#as-menu ul.as-menu > li.deeper > a:after
{
	display: inline-block;
	width: 7px;
	height: 5px;
	position: relative;
	left: 12px;
	top: -3px;
	content: none;   /* content: ""; */
}

#as-menu ul.as-menu li:hover > ul,
#as-menu ul.as-menu li.asHover > ul
{
	top: 75px;
}

#as-menu ul.as-menu ul
{
	width: 191px;
	display: none;	
}

.navigation #as-menu ul.as-menu ul
{
	position: absolute;
	background: #A1A1A1;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;	
}


#as-menu ul.as-menu li:hover ul,
#as-menu ul.as-menu li.asHover ul
{
	left: 0;
	top: 45px;
	z-index: 100;
}

#as-menu ul.as-menu li:hover li ul,
#as-menu ul.as-menu li.asHover li ul
{
	top: -999em;
}

#as-menu ul.as-menu ul li
{
	width: 100%;
	margin: 0 0 1px 0;
	list-style: none;	
}

#as-menu ul.as-menu ul > li.deeper > a:after
{
	display: inline-block;
	background: url('images/dds.arrow.png') left top no-repeat;
	width: 5px;
	height: 7px;
	position: relative;
	left: -20px;
	top: 9px;
	float: right;
	content: "";
}

.navigation #as-menu ul.as-menu ul ul
{
	left: 192px !important;
	top: -10px !important;
}

#as-menu ul.as-menu ul li.firstItem
{
	border: none;
}

#as-menu ul.as-menu ul li a,
#as-menu ul.as-menu ul li span
{
	text-transform: lowercase;
}

.navigation #as-menu ul.as-menu ul li a
{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    padding: 0 0 0 30px;
    text-align: left;
    text-decoration: none;
    

}
.navigation #as-menu ul.as-menu ul li:hover
{
    
}


#as-menu ul.as-menu ul li a:hover,
#as-menu ul.as-menu ul li span:hover,
#as-menu ul.as-menu ul li.active > a,
#as-menu ul.as-menu ul li.asHover > a,
#as-menu ul.as-menu ul li.active > span,
#as-menu ul.as-menu ul li.asHover > span
{
	color: #000;
}


#as-menu ul.as-menu li li:hover ul,
#as-menu ul.as-menu li li.asHover ul
{
	left: 10em;
	top: 0;
}

#as-menu ul.as-menu li li:hover li ul,
#as-menu ul.as-menu li li.asHover li ul
{
	top: -999em;
}

#as-menu ul.as-menu li li:hover ul,
#as-menu ul.as-menu li li.asHover ul
{
	top: -1em;
	left: 191px;
}

#as-menu ul.as-menu li li li:hover ul,
#as-menu ul.as-menu li li li.asHover ul
{
	top: -1em;
	left: 191px;
}

/************************************** as superfish menu *************************************************/

.sf-menu
{
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    min-height: 55px;
    position: relative;
	z-index: 1000;
	float: right;
	margin-top: 40px;
}

ul.sf-menu .sf-with-ul img
{
	padding: 0 5px 0 0;
}

ul.sf-menu > li.deeper > a::after,
ul.sf-menu > li.deeper > span::after 
{
    background: rgba(0, 0, 0, 0) url("images/dd.arrow.png") no-repeat scroll left top;
    content: "";
    display: inline-block;
    height: 5px;
    left: 7px;
    position: relative;
    top: -2px;
    width: 7px;
}

ul.sf-menu > li > a,
ul.sf-menu > li > span
{
    color: #333333;
    display: block;
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    width: auto;
	cursor: pointer;
}

ul.sf-menu > li > span.separator
{
}

ul.sf-menu > li,
ul.sf-menu > li:hover
{
	line-height: 20px;
	list-style: outside none none;
	transition: background 0.3s ease 0.1s;
	width: auto;
	margin: 0px 0px 0px 10px;
	padding: 0px;
}

ul.sf-menu > li.active,
ul.sf-menu > li.current,
ul.sf-menu > li:hover
{
}

ul.sf-menu > li,
.moduletable ul.sf-menu > li
{
	content: none;
	list-style-image: none;
}

ul.sf-menu > li.active > a,
ul.sf-menu > li.current > a,
ul.sf-menu > li:hover > a,
ul.sf-menu > li > a:hover,
ul.sf-menu > li > span:hover,
ul.sf-menu > li > a
{
	color: #333333;
}

ul.sf-menu li.active a,
ul.sf-menu li.current a,
ul.sf-menu li:hover a,
ul.sf-menu li.active a:hover,
ul.sf-menu li.current a:hover,
ul.sf-menu li.active:hover a,
ul.sf-menu li.current:hover a,
ul.sf-menu li.active span,
ul.sf-menu li.current span,
ul.sf-menu li:hover span,
ul.sf-menu li.active span:hover,
ul.sf-menu li.current span:hover,
ul.sf-menu li.active:hover span,
ul.sf-menu li.current:hover span
{
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: -webkit-linear-gradient(top, #eee, #ddd);
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -ms-linear-gradient(top, #eee, #ddd);
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(top, #eee, #ddd);
	border: 0;
	border-radius: 25px;
	box-shadow: 0px 2px 2px 0px #999999;
}

ul.sf-menu li.active a:hover,
ul.sf-menu li.current a:hover,
ul.sf-menu li.active:hover a,
ul.sf-menu li.current:hover a
{
	color: #333333;
}

ul.sf-menu ul
{
	border-radius: 25px;
	padding: 12px 0;
	position: absolute;
	left: 0%;
	top: 115%;
	position: absolute;
	background-color: #A1A1A1;
	padding: 12px 0;
    position: absolute;	
}

ul.sf-menu ul > li.deeper > a::after 
{
    background: rgba(0, 0, 0, 0) url("images/ddr.arrow.png") no-repeat scroll left top;
    content: "";
    display: inline-block;
    height: 7px;
    left: 10px;
    position: relative;
    top: 6px;
    width: 7px;
	float: right;
}

ul.sf-menu ul ul
{
    left: 101%;
    top: 10px;
}

ul.sf-menu ul li
{
	float: left;
	list-style: outside none none;
	margin: 0px;
	position: relative;
}

ul.sf-menu ul li a,
ul.sf-menu ul li span
{
	color: #ffffff !important;
	display: block;
	line-height: 18px;
	margin: 0;
	text-align: left;
	text-decoration: none;
	text-transform: lowercase;
	font-weight: normal;
    padding: 5px 30px;
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;	
}

ul.sf-menu ul li a:hover,
ul.sf-menu ul li span:hover,
ul.sf-menu ul li.active > a,
ul.sf-menu ul li.active > span,
ul.sf-menu ul li.asHover > span
{
	color: #333333 !important;
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;	
}

.btn-sf-menu,
a .btn-navbar .btn-sf-menu
{
	margin-top: 10px;
}

@media (max-width: 1200px)
{
	ul.sf-menu > li > a, 
	ul.sf-menu > li > span 
	{
		padding: 10px 20px;
	}
}

@media (max-width: 980px) and (min-width: 768px)
{
	.sf-menu {
		margin-top: 25px;
	}
	
	ul.sf-menu > li > a, 
	ul.sf-menu > li > span 
	{
		padding: 10px 15px;
	}
	
	ul.sf-menu > li.deeper > a::after,
	ul.sf-menu > li.deeper > span::after,
	ul.sf-menu > li.current.deeper > a::after,
	ul.sf-menu > li.deeper:hover > a::after,
	ul.sf-menu > li.active.deeper > span::after,
	ul.sf-menu > li.deeper:hover > span::after
	{
		width: 0px;
	}

}

@media (max-width: 768px)
{
	
	ul.sf-menu 
	{
		float: none;
		margin-top: 0px;
		min-height: 0px;
		position: relative;
		background-color: #eee;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
		background-image: -webkit-linear-gradient(top, #eee, #ddd);
		background-image: -moz-linear-gradient(top, #eee, #ddd);
		background-image: -ms-linear-gradient(top, #eee, #ddd);
		background-image: -o-linear-gradient(top, #eee, #ddd);
		background-image: linear-gradient(top, #eee, #ddd);
		border: 0;
		border-radius: 25px;
	}
	
	.btn-sf-menu,
	.navigation .btn-sf-menu,
	a .btn .btn-navbar .btn-sf-menu
	{
		margin: 10px 0px;
		background-color: #b91252;
		padding: 10px 35px !important;
		background-color: #eee;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
		background-image: -webkit-linear-gradient(top, #eee, #ddd);
		background-image: -moz-linear-gradient(top, #eee, #ddd);
		background-image: -ms-linear-gradient(top, #eee, #ddd);
		background-image: -o-linear-gradient(top, #eee, #ddd);
		background-image: linear-gradient(top, #eee, #ddd);
		border: 0;
		border-radius: 25px;
		box-shadow: 0px 2px 2px 0px #999999;	
	}

	.navigation .btn-sf-menu:hover
	{
		color: #333333;
	}

	ul.sf-menu li.active a,
	ul.sf-menu li.current a,
	ul.sf-menu li:hover a,
	ul.sf-menu li.active a:hover,
	ul.sf-menu li.current a:hover,
	ul.sf-menu li.active:hover a,
	ul.sf-menu li.current:hover a,
	ul.sf-menu li.active span,
	ul.sf-menu li.current span,
	ul.sf-menu li:hover span,
	ul.sf-menu li.active span:hover,
	ul.sf-menu li.current span:hover,
	ul.sf-menu li.active:hover span,
	ul.sf-menu li.current:hover span
	{
		background-image: none;
		box-shadow: none;
		background-color: transparent;
		font-weight: normal;
	}
	
	ul.sf-menu > li > a, 
	ul.sf-menu > li > span 
	{
		padding: 5px 0px;
		font-weight: normal;
	}
	
	ul.sf-menu > li, 
	ul.sf-menu > li:hover
	{
		margin: 2px 0px 0px;
	}

	ul.sf-menu ul li 
	{
		width: 100%;
	}
	
	ul.sf-menu li.active, 
	ul.sf-menu li.current, 
	ul.sf-menu li a:hover,
	ul.sf-menu li:hover > a
	{
		color: #999999;
	}
	
	ul.sf-menu ul > li.deeper > a::after
	{
		float: none;
		background: rgba(0, 0, 0, 0) url("images/dd.arrow.png") no-repeat scroll left top;
		top: 0px;	
	}
	
	ul.sf-menu li.firstItem
	{
		padding-top: 20px;
	}

	ul.sf-menu li.lastItem
	{
		padding-bottom: 20px;
	}

	.navigation ul.sf-menu ul
	{
		border: none;
		margin: 15px 0;
		padding: 0px 0px;
		border-radius: 0px;
		overflow: hidden;
	}
	
	ul.sf-menu ul li.lastItem
	{
		margin-bottom: 0px;
	}
		
	ul.sf-menu ul li a, 
	ul.sf-menu ul li span
	{
		text-align: center;
		width: 100% !important;
		padding: 5px 0px !important;
		left: -5px;			
	}
	
	.navigation ul.sf-menu ul ul 
	{
		background: none;
		padding: 10px 0;
	}	

}