/* CSS Document */

#header-top-row
{
	text-align: right;
}

.mod-custom__mobile_version
{
    background: rgba(0, 0, 0, 0.2) url("https://www.astemplates.com/images/bg.mobile.png") no-repeat scroll left bottom;
    border-top-right-radius: 100%;
    bottom: 0;
    height: 120px;
    position: fixed;
    transition: background-image 0.5s ease-in-out 0s;
    width: 160px;
    z-index: 999;
    transition: opacity 0.5s ease-in-out 0s;		
}

.mod-custom__mobile_version p
{
	padding: 0px;
}

.mod-custom__mobile_version p a
{
	opacity: 0;	
	background: rgba(150, 150, 150, 1);
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	width: 135px;
	height: 75px;
	border-top-right-radius: 100%;
	display: table-caption;
	padding-top: 45px;
	padding-left: 25px;
	font-size: 14px;
	line-height: 18px;
    transition: opacity 0.5s ease-in-out 0s;	
}

.mod-custom__mobile_version p a:hover
{
	opacity: 1;
}