
/*******************************************************************************************/
/*
/*        Web: http://www.asdesigning.com
/*        Web: http://www.astemplates.com
/*        License: GNU General Public License version 3 or later
/*
/*******************************************************************************************/


.sf-menu, .sf-menu *
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation
{
	position: relative;
}

.navigation .sf-menu
{
	position: relative;
	overflow: visible;
	clear: both;
	height: auto !important;
}

.navigation .sf-menu:after
{
	clear: both;
	display: block;
	content: '';
}

.navigation .sf-menu.in
{
	height: auto !important;
}

.navigation .btn-sf-menu
{
	display: none;
	float: left;
	margin-bottom: 15px;
}

.scroll-to-fixed-fixed
{
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.navigation .select-menu
{
	width: 100%;
	display: none;
	margin: 0;
}

.sf-menu li
{
	position: relative;
}

.sf-menu ul
{
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu > li
{
	float: left;
}

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul
{
	display: block;
}

.sf-menu a
{
	display: block;
	position: relative;
}

.sf-menu ul ul
{
	top: 0;
	left: 100%;
}

@media (max-width: 767px) {

	/*navigation*/
	  
	.navigation .btn-navbar
	{
		display: block;
	}
	
	.navigation .select-menu
	{
		display: block;
	}
	
	.navigation ul.sf-menu
	{
		overflow: hidden;
		height: 0 !important;
		float: none;
	}
	
	ul.sf-menu ul li a, 
	ul.sf-menu ul li span
	{
		width: 100% !important;
	}
	
	.navigation ul.sf-menu>li
	{
		float: none;
		width: 100%;
		margin: 0;
	}
	
	.navigation ul.sf-menu>li ul
	{
		padding: 10px 0 10px 15px;
		width: auto;
		position: static;
	}
}
